{% extends "global/base.html" %}
{% block content %}
{% load static %} <link rel="stylesheet" href="{% static "global/css/admin.css" %}">
<div class="dashboard">
    <div class="tabs">
        <button class="tablink" data-tab="Profile">Profile</button>
        <button class="tablink" data-tab="Tarefas">Admin</button>
        <button class="tablink" data-tab="Membros">Membros</button>
        <button class="tablink" data-tab="Mensagens">Mensagens</button>
    </div>

    <div id="Profile" class="tabcontent">
        <h2>Profile</h2>
        <p>Nome: {{user}}</p>
        <p>Email: {{email}}</p>
        <form method="post" action="trocar">
            {% csrf_token %}
            <button class="netpage" type="submit">Trocar senha</button>
        </form>
        <form method="post" action="logout">
            {% csrf_token %}
            <button class="netpage" type="submit">Logout</button>
        </form>
    </div>

    <div id="Tarefas" class="tabcontent">
        <h2>Administração</h2>
        <form method="post" action="trocar">
            {% csrf_token %}
            <button class="netpage" type="submit">Renomear Grupo</button>
        </form>
        <form method="post" action="logout">
            {% csrf_token %}
            <button class="netpage" type="submit">Criar Grupo</button>
        </form>
        <form method="post" action="trocar">
            {% csrf_token %}
            <button class="netpage" type="submit">Atribuir Tarefas a Membros</button>
        </form>
        <form method="post" action="logout">
            {% csrf_token %}
            <button class="netpage" type="submit">Remover Membros</button>
        </form>
    </div>

    <div id="Membros" class="tabcontent">
        <h2>Membros da Equipe</h2>
        <ul>
            {% for usuario in alluser %}
                <li>{{ usuario.username }} : {{ usuario.email}}</li>
            {% endfor %}
        </ul>
    </div>

    <div id="Mensagens" class="tabcontent">
        <h2>Mensagens da sua equipe</h2>
        <p>Example</p>
    </div>
</div>

<script src="{% static "global/js/dashboard.js" %}"></script>
{% endblock content %}

