{% extends "global/base.html" %}

{% block  content %}
{% load static %} <link rel="stylesheet" href="{% static "global/css/stylelogin.css" %}">

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="POST">
			<h1>Criar sua conta</h1>
			{% csrf_token %}
			{{ cadastrar.name }}
			{{ cadastrar.email }}
			{{ cadastrar.password }}
			<div class="checkbox-container">
				{{ cadastrar.admin }} {{ cadastrar.admin.label_tag}}
			</div>
            <button type="submit">Cadastrar</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="POST">
			<h1>Entrar na sua conta</h1>
			{% csrf_token %}
			{{ login.name }}
			{{ login.password }}
			<a href="/forgotpassword">Esqueceu a senha?</a>
			<button type="submit">Login</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Olá, bem vindo</h1>
				<p>Quer fazer login? Clique aqui</p>
				<button class="ghost" id="signIn">Fazer login</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Bem vindo de volta!</h1>
				<p>Você quer fazer o cadastro? Clique aqui</p>
				<button class="ghost" id="signUp">Fazer cadastro</button>
			</div>
		</div>
	</div>
</div>

<script src="{% static "global/js/scripts.js" %}"></script>
{% endblock content %}

